<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hostel_Management"
        tools:targetApi="31">

        <!-- Splash Activity - LAUNCHER (First screen) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <!-- Signup Activity -->
        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <!-- Main Activity (Student Dashboard) -->
        <activity
            android:name=".MainActivity"
            android:exported="false"/>

        <!-- Room Detail Activity -->
        <activity
            android:name=".RoomDetailActivity"
            android:exported="false"/>

        <!-- Submit Complaint Activity -->
        <activity
            android:name=".SubmitComplaintActivity"
            android:exported="false"/>

        <!-- Admin Dashboard Activity -->
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false"/>

        <!-- Mess Menu Activity -->
        <activity
            android:name=".MessMenuActivity"
            android:exported="false"/>

        <!-- Admin Related Activities -->
        <activity android:name=".AdminNoticeBoardActivity" android:exported="false"/>
        <activity android:name=".AdminUpcomingEventsActivity" android:exported="false"/>
        <activity android:name=".AdminComplaintsActivity" android:exported="false"/>
        <activity android:name=".AdminProfileActivity" android:exported="false"/>

        <!-- My Complaints Activity -->
        <activity android:name=".MyComplaintsActivity" android:exported="false"/>

        <!-- Student Notice Board Activity (Added) -->
        <activity android:name=".NoticeBoardActivity" android:exported="false"/>

        <!-- Calendar Activity (NEW) -->
        <activity android:name=".CalendarActivity" android:exported="false"/>

        <activity android:name=".FeesActivity" android:exported="false"/>

        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity android:name=".SettingsActivity" android:exported="false" />
        <activity android:name=".HelpActivity" android:exported="false" />
        <activity android:name=".AboutActivity" android:exported="false" />


    </application>

</manifest>
